body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  font-family: Lucida Console, Lucida Sans Typewriter, monaco,
    Bitstream Vera Sans Mono, monospace;
}

.canvas-holder canvas {
  padding: 0;
  margin: auto;
  display: block;
  height: 70vh;
  width: auto;
  max-width: 100%;
  border: 1px solid black;
}

.button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
